body{ background-color: #daf0ee;
    
}


.container{
     display:  grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows:auto;
     grid-template-areas:
     "heading heading"
     "navbar navbar"
     "text1 text1"
     "footer footer";}

.heading{
    grid-area: heading;
    background-color: #fff;
    text-align: center;
    border-style: solid;
    background: linear-gradient(to bottom, #9db5b2, #94d1be );
}
.body{
     font-family: "Playfair Display", serif;
}
.navbar{ 
    grid-area: navbar;
    background-color: #9db5b2;
    text-align: center;
    border-style: solid;
}

.navbar ul{
list-style-type: none;
}
.navbar li{
    display: inline-block;
    padding: 10px;
}
.navbar a{
padding: 20px;
background-color: rgb(255, 255, 255);
border-style: solid;
border-color: rgb(0, 0, 0);
}


.text1{
    grid-area: text1;
    background-color: #ffffff;
    border-style: solid;
    background: linear-gradient(to bottom, #94d1be, #9db5b2);;
}

.footer{
    grid-area: footer;
    background-color: #ffffff;
    text-align: center;
    background: linear-gradient(to bottom, #ffffff,#3b413c );
}